WPFaplikacja/Connected Services/ServiceReference1/WatcherService1.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:wsap="http://schemas.xmlsoap.org/ws/2004/08/addressing/policy" xmlns:wsa10="http://www.w3.org/2005/08/addressing" xmlns:tns="http://tempuri.org/" xmlns:msc="http://schemas.microsoft.com/ws/2005/12/wsdl/contract" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:wsx="http://schemas.xmlsoap.org/ws/2004/09/mex" xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:wsa="http://schemas.xmlsoap.org/ws/2004/08/addressing" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:xsd="http://www.w3.org/2001/XMLSchema" name="WatcherService" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsp:Policy wsu:Id="NetTcpBinding_IWatcherService_policy">
    <wsp:ExactlyOne>
      <wsp:All>
        <msb:BinaryEncoding xmlns:msb="http://schemas.microsoft.com/ws/06/2004/mspolicy/netbinary1" />
        <sp:TransportBinding xmlns:sp="http://schemas.xmlsoap.org/ws/2005/07/securitypolicy">
          <wsp:Policy>
            <sp:TransportToken>
              <wsp:Policy>
                <msf:WindowsTransportSecurity xmlns:msf="http://schemas.microsoft.com/ws/2006/05/framing/policy">
                  <msf:ProtectionLevel>EncryptAndSign</msf:ProtectionLevel>
                </msf:WindowsTransportSecurity>
              </wsp:Policy>
            </sp:TransportToken>
            <sp:AlgorithmSuite>
              <wsp:Policy>
                <sp:Basic256 />
              </wsp:Policy>
            </sp:AlgorithmSuite>
            <sp:Layout>
              <wsp:Policy>
                <sp:Strict />
              </wsp:Policy>
            </sp:Layout>
          </wsp:Policy>
        </sp:TransportBinding>
        <wsaw:UsingAddressing />
      </wsp:All>
    </wsp:ExactlyOne>
  </wsp:Policy>
  <wsdl:types>
    <xsd:schema targetNamespace="http://tempuri.org/Imports">
      <xsd:import schemaLocation="http://localhost:8000/?xsd=xsd0" namespace="http://tempuri.org/" />
      <xsd:import schemaLocation="http://localhost:8000/?xsd=xsd1" namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
      <xsd:import schemaLocation="http://localhost:8000/?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/WatcherService" />
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="IWatcherService_Run_InputMessage">
    <wsdl:part name="parameters" element="tns:Run" />
  </wsdl:message>
  <wsdl:message name="IWatcherService_Run_OutputMessage">
    <wsdl:part name="parameters" element="tns:RunResponse" />
  </wsdl:message>
  <wsdl:message name="IWatcherService_Stop_InputMessage">
    <wsdl:part name="parameters" element="tns:Stop" />
  </wsdl:message>
  <wsdl:message name="IWatcherService_Stop_OutputMessage">
    <wsdl:part name="parameters" element="tns:StopResponse" />
  </wsdl:message>
  <wsdl:message name="IWatcherService_WypiszDaneDyskow_InputMessage">
    <wsdl:part name="parameters" element="tns:WypiszDaneDyskow" />
  </wsdl:message>
  <wsdl:message name="IWatcherService_WypiszDaneDyskow_OutputMessage">
    <wsdl:part name="parameters" element="tns:WypiszDaneDyskowResponse" />
  </wsdl:message>
  <wsdl:message name="IWatcherService_PobierzListeZmian_InputMessage">
    <wsdl:part name="parameters" element="tns:PobierzListeZmian" />
  </wsdl:message>
  <wsdl:message name="IWatcherService_PobierzListeZmian_OutputMessage">
    <wsdl:part name="parameters" element="tns:PobierzListeZmianResponse" />
  </wsdl:message>
  <wsdl:message name="IWatcherService_GetPath_InputMessage">
    <wsdl:part name="parameters" element="tns:GetPath" />
  </wsdl:message>
  <wsdl:message name="IWatcherService_GetPath_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetPathResponse" />
  </wsdl:message>
  <wsdl:portType name="IWatcherService">
    <wsdl:operation name="Run">
      <wsdl:input wsaw:Action="http://tempuri.org/IWatcherService/Run" message="tns:IWatcherService_Run_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IWatcherService/RunResponse" message="tns:IWatcherService_Run_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="Stop">
      <wsdl:input wsaw:Action="http://tempuri.org/IWatcherService/Stop" message="tns:IWatcherService_Stop_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IWatcherService/StopResponse" message="tns:IWatcherService_Stop_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="WypiszDaneDyskow">
      <wsdl:input wsaw:Action="http://tempuri.org/IWatcherService/WypiszDaneDyskow" message="tns:IWatcherService_WypiszDaneDyskow_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IWatcherService/WypiszDaneDyskowResponse" message="tns:IWatcherService_WypiszDaneDyskow_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="PobierzListeZmian">
      <wsdl:input wsaw:Action="http://tempuri.org/IWatcherService/PobierzListeZmian" message="tns:IWatcherService_PobierzListeZmian_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IWatcherService/PobierzListeZmianResponse" message="tns:IWatcherService_PobierzListeZmian_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetPath">
      <wsdl:input wsaw:Action="http://tempuri.org/IWatcherService/GetPath" message="tns:IWatcherService_GetPath_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IWatcherService/GetPathResponse" message="tns:IWatcherService_GetPath_OutputMessage" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="NetTcpBinding_IWatcherService" type="tns:IWatcherService">
    <wsp:PolicyReference URI="#NetTcpBinding_IWatcherService_policy" />
    <soap12:binding transport="http://schemas.microsoft.com/soap/tcp" />
    <wsdl:operation name="Run">
      <soap12:operation soapAction="http://tempuri.org/IWatcherService/Run" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="Stop">
      <soap12:operation soapAction="http://tempuri.org/IWatcherService/Stop" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="WypiszDaneDyskow">
      <soap12:operation soapAction="http://tempuri.org/IWatcherService/WypiszDaneDyskow" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="PobierzListeZmian">
      <soap12:operation soapAction="http://tempuri.org/IWatcherService/PobierzListeZmian" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetPath">
      <soap12:operation soapAction="http://tempuri.org/IWatcherService/GetPath" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="WatcherService">
    <wsdl:port name="NetTcpBinding_IWatcherService" binding="tns:NetTcpBinding_IWatcherService">
      <soap12:address location="net.tcp://localhost:8090/WatcherService" />
      <wsa10:EndpointReference>
        <wsa10:Address>net.tcp://localhost:8090/WatcherService</wsa10:Address>
        <Identity xmlns="http://schemas.xmlsoap.org/ws/2006/02/addressingidentity">
          <Spn>host/DESKTOP-42MG76H</Spn>
        </Identity>
      </wsa10:EndpointReference>
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>